/* mobile */

@media only screen and (max-width: 767px) {
  .stk-nav {
    width: 100%;
    height: 0;
  }
  ul li {
    border: none;
  }
  ul i {
    border: none;
  }
  .search-container {
    display: none;
  }
  .home-img button {
    position: relative;
    bottom: 250px;
    left: 50px;
  }
  .owl-nav {
    top: 180px;
  }
  .copyRight h5{
    font-size: 15px;
  }
  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.stk-dropdown {
  position: absolute !important;
  left: 100px !important;
}

}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .links a {
    font-size: 10px;
  }
  .search-container input {
    width: 80%;
    margin-left: 10px;
  }
  .home-img button {
    position: relative;
    bottom: 100px;
    left: 200px;
  }
  .owl-nav {
    top: 90px;
  }
  .service-card .imp-icon {
    width: 150px;
    height: 150px;
    background: #ebf0fe;
    line-height: 150px;
    border-radius: 10px;
    font-size: 60px;
  }
  .customers-feedback-card-header {
  }
  .customers-feedback-card-header h4 {
    font-size: 40px;
  }
  .customers-feedback-card-header i {
    font-size: 40px;
  }
  .customers-feedback-card p{
    font-size: 25px;
  }
}
/* laptop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  .owl-nav {
    top: 200px;
  }
}

/* <nav id="nav">
        <div class="nav-center">
          <!-- links -->
          <div class="links-container">
            <ul class="links m-0">
              <a href="#home" class="m-0 d-flex align-items-center"
                ><i class="fas fa-home pr-2"></i
              ></a>
              <li>
                <a href="#services" class="scroll-link">SERVICES</a>
              </li>
              <li>
                <a href="#branch" class="scroll-link">BRANCH</a>
              </li>
              <li>
                <a href="#feedback" class="scroll-link">FEEDBACK</a>
              </li>
              <li>
                <a href="#contact" class="scroll-link">CONTACT US</a>
              </li>
              <li>
                <a href="#tours" class="scroll-link">PRODUCTS</a>
              </li>
            </ul>
          </div>
          <!-- search -->
          <div class="search-container">
            <input type="text" placeholder="Search your products...." />
          </div>
        </div>
      </nav> */